.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| 
  %div
    = f.label :avatar, 'Avatar'
  %div
    = f.file_field :avatar
  %div
    = f.label :username, 'Username'
  %div
    = f.text_field :username, class: 'text'
  %div
    = f.label :introduction, 'Bio'
  %div
    = f.text_area :introduction

  = f.submit 'SUBMIT', class: 'btn-primary'