.profilePage
  .container
    .profilePage_user_displayName 
      = current_user.display_name
    .profilePage_image
      = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
        = f.label :avatar do
          = image_tag current_user.avatar_image, class: 'avatar-image'
          = f.file_field :avatar, class: 'uploader', style: 'display:none'
      -# = image_tag current_user.avatar_image
    .profilePage_dataContainer
      .profilePage_dataContainer_inner
        %p 44
        %p Posts
      .profilePage_dataContainer_inner
        %p 44
        %p Followers
      .profilePage_dataContainer_inner
        %p 44
        %p Following
    .profilePage_actionButton
      = link_to 'Edit', edit_profile_path
    .profilePage_imgBox 
      = image_tag 'img3.png'
      %div
        = image_tag 'img2.png'
        = image_tag 'img1.png'
        
= javascript_pack_tag 'profile'
